<a href="https://colab.research.google.com/github/arifuddinatif/Titanic-ML-from-disaster/blob/main/Titanic_ML_from_disaster.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
train_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/projects/Titanic - ML from disaster/titanic dataset/train.csv')

In [ ]:
test_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/projects/Titanic - ML from disaster/titanic dataset/test.csv')

In [ ]:
gender_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/projects/Titanic - ML from disaster/titanic dataset/gender_submission.csv')

In [ ]:
test_df.info()

In [ ]:
test_df = pd.merge(test_df,gender_df,on='PassengerId')

In [ ]:
train_df.fillna(0)

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500     0         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250     0         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500     0         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000     0         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500     0         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500     0         Q

[891 rows x 12 columns]

In [ ]:
train_df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [ ]:
train_df.columns

Index(['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare',
       'Embarked'],
      dtype='object')

In [ ]:
test_df.head()

   Pclass Sex   Age  SibSp  Parch     Fare Embarked
0       3   1  34.5      0      0   7.8292        2
1       3   0  47.0      1      0   7.0000        1
2       2   1  62.0      0      0   9.6875        2
3       3   1  27.0      0      0   8.6625        1
4       3   0  22.0      1      1  12.2875        1

In [ ]:
train_df['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [ ]:
train_df['Survived'].unique()

array([0, 1])

In [ ]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
train_df['Age'] = train_df['Age'].fillna(train_df['Age'].mean())
train_df['Embarked'] = train_df['Embarked'].fillna(train_df['Embarked'].mode().values[0])

In [ ]:
for i in range(len(train_df.Sex)):
  if train_df['Sex'][i] == 'male':
    train_df['Sex'][i] = 1
  else:
    train_df['Sex'][i] = 0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
for i in range(len(train_df.Embarked)):
  if train_df['Embarked'][i] == 'S':
    train_df['Embarked'][i] = 1
  elif train_df['Embarked'][i] == 'C':
    train_df['Embarked'][i] = 0 
  else:
    train_df['Embarked'][i] = 2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [ ]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [ ]:
test_df['Age'] = test_df['Age'].fillna(test_df['Age'].mean())
test_df['Fare'] = test_df['Fare'].fillna(test_df['Fare'].mean())

In [ ]:
for i in range(len(test_df.Sex)):
  if test_df['Sex'][i] == 'male':
    test_df['Sex'][i] = 1
  else:
    test_df['Sex'][i] = 0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
for i in range(len(test_df.Embarked)):
  if test_df['Embarked'][i] == 'S':
    test_df['Embarked'][i] = 1
  elif test_df['Embarked'][i] == 'C':
    test_df['Embarked'][i] = 0 
  else:
    test_df['Embarked'][i] = 2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
test_df.drop(['PassengerId','Cabin','Name','Ticket'],axis=1,inplace=True)

In [ ]:
train_df.drop(['PassengerId','Cabin','Name','Ticket'],axis=1,inplace=True)

In [ ]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression()
x_train = train_df.drop('Survived',axis = 1)
y_train = train_df['Survived']

In [ ]:
model = clf.fit(x_train,y_train)

In [ ]:
x_test = test_df.drop('Survived',axis = 1)
y_test = test_df['Survived']

In [ ]:
predictions_test = model.predict(x_test)
predictions_train = model.predict(x_train)

In [ ]:
len(predictions_train)

891

In [ ]:
len(predictions_test)

418

In [ ]:
from sklearn.metrics import accuracy_score,precision_score,recall_score,classification_report,confusion_matrix,f1_score

In [ ]:
# Getiing classification report for train and test sets
print('Test set report')
print("\n")
print(classification_report(y_test,predictions_test))
print("\n")
print('Train set report')
print("\n")
print(classification_report(y_train,predictions_train))

Test set report


              precision    recall  f1-score   support

           0       0.97      0.95      0.96       266
           1       0.91      0.94      0.93       152

    accuracy                           0.94       418
   macro avg       0.94      0.94      0.94       418
weighted avg       0.95      0.94      0.95       418



Train set report


              precision    recall  f1-score   support

           0       0.82      0.86      0.84       549
           1       0.76      0.70      0.73       342

    accuracy                           0.80       891
   macro avg       0.79      0.78      0.78       891
weighted avg       0.80      0.80      0.80       891

In [ ]:
78//12

6

In [ ]:
round(78/12)

6